.accordion>.card>.card-header {   
    margin-bottom: 10px;
    background: white;
    box-shadow: 6px -1px 11px 0px black;
}
.positionCollapseFaq {
    background-color: white;
    width: 100%;
    color: rgba(251,33,117,1);
    text-align: left;
    min-height: 40px;
    border: none;
}
.positionChevronCollapse{
    position: relative;
    float: right;
    top: 5px;
    color: #007bff;
}
.card {
    border: none;
}
.card-body {
    color: black;
}